:root {
	--accent-color:rgb(20, 150, 230);
	--shadow-dark:0 6px 10px rgba(40,40,40,0.2);
	--shadow-darker:0 6px 10px rgba(40,40,40,0.35);
	--font-family:"Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;
}
html {
	font-family:var(--font-family);
}
body {
	background:rgb(245,245,245);
	color:rgb(75,75,75);
	margin:0;
	padding:0;
	overflow:hidden;
}
button, input {
	border:none;
	outline:none;
	transition:background 0.25s, color 0.25s;
}
a {
	text-decoration:none;
	color:var(--accent-color);
}
.noselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
.hidden {
	display:none;
	visibility:hidden;
	position:absolute;
	z-index:-1;
}
::-webkit-scrollbar {
	display:block;
	width:4px;
	height:4px;
	background:rgba(60,60,60,0);
}
::-webkit-scrollbar-thumb {
	border-radius:5px;
	background:rgb(150,150,150);
}
::-webkit-scrollbar-thumb:hover {
	background:rgb(100,100,100);
}
::-webkit-scrollbar-track {
	background:rgb(210,210,210);
}

.navbar {
	position:relative;
	display:block;
	width:100%;
	height:80px;
	background:rgb(220,220,220);
}
.navbar span {
	line-height:80px;
	padding-left:32px;
	font-size:32px;
	font-weight:bold;
	color:var(--accent-color);
}
.navbar svg {
	height:52px;
	width:52px;
	padding:14px;
	position:absolute;
	top:0;
	right:0;
	fill:var(--accent-color);
}

.main-wrapper {
	position:absolute;
	top:80px;
	left:0;
	display:block;
	font-size:0;
	text-align:center;
	height:calc(100% - 80px);
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.main-wrapper .card {
	width:calc((100% / 3) - 30px);
	margin:20px 0 20px 0;
	height:200px;
	display:inline-block;
	background:rgb(220,220,220);
	vertical-align:top;
	border-radius:10px;
	overflow:hidden;
}
.main-wrapper .card:nth-of-type(2) {
	margin:20px;
}
.main-wrapper .card .content {
	width:calc(100% - 40px);
	height:calc(100% - 40px);
	padding:20px;
	overflow-x:hidden;
	overflow-y:scroll;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.main-wrapper .card span {
	font-size:16px;
	display:block;
}
.main-wrapper .card .title {
	font-size:20px;
	font-weight:bold;
	margin-bottom:10px;
}
.main-wrapper .card .button-container {
	display:block;
	text-align:center;
	margin:14px auto 10px auto;
}
.main-wrapper .card button {
	height:40px;
	padding:0 10px 0 10px;
	width:auto;
	font-size:18px;
	font-weight:bold;
	color:rgb(255,255,255);
	background:var(--accent-color);
	border-radius:10px;
	transition:transform 0.25s;
	cursor:pointer;
	display:inline-block;
}
.main-wrapper .card button:hover {
	transform:scale(0.95);
}

.buttons-wrapper {
	margin:20px auto 20px auto;
	text-align:center;
	font-size:0;
}
.buttons-wrapper svg {
	position:absolute;
	top:20px;
	left:30px;
	width:40px;
	height:40px;
	transition:transform 0.25s;
	fill:var(--accent-color);
}
.buttons-wrapper svg:hover {
	transform:scale(0.95);
}
.buttons-wrapper button {
	height:40px;
	padding:0 10px 0 10px;
	margin:0 10px 0 10px;
	width:auto;
	font-size:18px;
	font-weight:bold;
	color:rgb(255,255,255);
	background:var(--accent-color);
	border-radius:10px;
	transition:transform 0.25s;
	cursor:pointer;
}
.buttons-wrapper button:hover {
	transform:scale(0.95);
}
.buttons-wrapper button.active {
	opacity:0.6;
	pointer-events:none;
}

.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:4;
	background:rgba(0,0,0,0.9);
}

.dataset-info-wrapper {
	position:absolute;
	top:30px;
	left:30px;
	min-width:575px;
	z-index:5;
	background:rgb(230,230,230);
	border-radius:10px;
	overflow:hidden;
}

.data-wrapper {
	overflow:hidden;
	border-radius:10px;
	top:80px;
	left:30px;
	width:calc(100% - 60px);
	height:calc(100% - 60px - 50px);
	position:absolute;
}
.table-wrapper {
	width:100%;
	height:100%;
	overflow-x:scroll;
	overflow-y:scroll;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
	background:rgb(230,230,230);
}
th, td {
	padding:10px;
	border-style:solid;
	border-width:1px;
	border-color:rgb(220,220,220);
}
th {
	background:rgb(220,220,220);
}

.data-wrapper .card-wrapper {
	width:calc(100% - 40px);
	height:calc(100% - 40px);
	padding:20px;
	overflow-x:scroll;
	overflow-y:scroll;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
	background:rgb(230,230,230);
	font-size:0;
	text-align:center;
}
.data-wrapper .card-wrapper .card {
	background:rgb(255,255,255);
	box-shadow:var(--shadow-darker);
	display:inline-block;
	vertical-align:top;
	margin:0 20px 20px 0;
	width:calc((100% / 3) - 34px);
	padding:10px;
	border-radius:10px;
	min-height:250px;
	text-align:left;
}
.data-wrapper .card-wrapper .card:nth-child(3n + 3) {
	margin-right:0;
}
.data-wrapper .card-wrapper .card span {
	display:block;
	font-size:16px;
	padding-left:10px;
}
.data-wrapper .card-wrapper .card .name {
	font-size:18px;
	font-weight:bold;
}